.explore-wrap {
  .bottom {
    position: relative;
    .found-text {
      width: 200px;
      height: 50px;
      background: white;
      position: absolute;
      top: -25px;
      left: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 300;
    }
    position: relative;
    .right {
      width: calc(100% - 100px);
      flex-wrap: wrap;
      gap: 50px;
      padding-bottom: 0;
      margin-left: 100px;
      .card {
        width: 320px;
        padding: 15px;
        height: 500px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
        .main-img {
          width: 320px;
          height: 320px;
        }
        .details-wrap {
          h2 {
            font-weight: 300;
            padding-top: 10px;
          }
          .price-wrap {
            margin-top: 15px;
            flex-direction: column;
            align-items: start;
            position: relative;
            .tag{
              width: 100px;
              height: 30px;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
              border-radius: 15px;
              color: white;
              justify-content: center;
              position: absolute;
              right: 0;
              top: calc(50% - 15px);
              P{
                color: #111;
              }
            }
            p {
              text-transform: uppercase;
              font-weight: 600;
              font-size: 0.9rem;
              color: rgba($color: #000000, $alpha: 0.5);
            }
            h3 {
              font-weight: 600;
              font-size: 0.9rem;
            }
          }
          .owner-wrap {
            gap: 10px;
            margin-top: 20px;
            img {
              width: 30px;
              border-radius: 50%;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
          }
        }
      }
      .card:hover {
        transition: .3s;
        border: 1px solid;
        .price-wrap {
          .tag {
            transition: .3s;
            background: indigo;
            p{
              color: white;
            }
          }
        }
      }
    }
  }
}
