.top{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    .left{
        width: 600px;
        margin-top: 10vh;
        img{
            width: 500px;
            height: 480px;
        }
    }
    .right{
        margin-left: 100px;
        align-items: start;
        gap: 20px;
        h1{
            font-size: 2.5rem;
            font-weight: 300;
            max-width: 600px;
            text-align: left;
        }
        .owner-info{
            cursor: pointer;
            gap: 20px;
            h2{
                font-weight: 600;
                font-size: 1.5rem;
            }
            .main{
                gap: 10px;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
                p{
                    font-size: 1.5rem;
                    gap: 10px;
                    span{
                        text-transform: uppercase;
                        padding: 5px 15px;
                        background: #111;
                        color: white;
                        font-size: .6rem;
                        border-radius: 10px;
                        font-weight: 600;
                    }
                }
            }
        }
        .price-info{
            align-items: start;
            p{
                font-size: 1rem;
                text-transform: uppercase;
            }
            h2{
                font-size: 2rem;
                font-weight: 400;
            }
        }
        button{
            width: 250px;
            height: 50px;
            background: #111;
            color: white;
            border-radius: 25px;
            border: none;
            font-weight: 600;
            cursor: pointer;
            font-size: 1.1rem;
            letter-spacing: 2px;
        }
        button:hover{
            border: 1px solid #111;
            color: #111;
            background: transparent;
        }
    }
}
.bottom{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    .content{
        align-items: start;
        margin-left: 100px;
        gap: 20px;
        h2{
            font-size: 2rem;
            font-weight: 300;
            border-bottom: 1px solid;
        }
        p{
            width: 1200px;
            text-align: justify;
        }
    }
    .previous_owner_details {
        margin-left: 100px;
        align-items: start;
        margin-top: 100px;
        gap: 20px;
        h1{
            font-size: 2rem;
            font-weight: 300;
            border-bottom: 1px solid;
        }
        .wrap{
            gap: 20px;
            position: relative;
            cursor: pointer;
            .line{
                width: 50px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
            img{
                width: 40px;
                height: 40px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                border-radius: 50%;
                padding: 10px;
                cursor: pointer;
            }
        }   
        .wrap:hover::after{
            opacity: 1;
        }
    }
  
}

.fullscreen{
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 10000;
    background: rgba($color: #111, $alpha: 0.5);
    .icon{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #fff, $alpha: 0.5);
        cursor: pointer;
        div{
            width: 25px;
            height: 2px;
            background: black;
            transform: rotate(45deg);
        }
        div:first-child{
            position: absolute;
        }
        div:last-child{
            transform: rotate(-45deg);
        }
    }
}