.profile-top {
  width: 100%;
  height: 85vh;
  margin-top: 15vh;
  align-items: start !important;
  justify-content: space-between;
  .profile-left {
    height: 100%;
    justify-content: center !important;
    .profile-main-information {
      margin-left: 100px;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
      .profile-content {
        width: 300px;
        margin-left: 40px;
        align-items: end;
        justify-content: center !important;
        gap: 10px;
        p {
          color: rgba($color: #000000, $alpha: 0.8);
          font-size: 0.8rem;
          position: relative;
          .icon {
            cursor: pointer;
          }
        }
        p:hover::after{
          content: 'Copy';
          padding: 1px 10px;
          position: absolute;
          color: #111;
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
          top: -100%;
          text-transform: uppercase;
          font-weight: 400;
          font-size: .8rem;
          padding-right: 12px;
        }
        .username {
          position: relative;
          h3 {
            font-weight: 400;
            color: rgba($color: #000000, $alpha: 0.8);
            font-size: 1.7rem;
          }
          button{
            width: 80px;
            height: 35px;
            justify-content: center;
            position: absolute;
            left: 100%;
            top: -30px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            border: none;
            background: #111;
            font-size: .7rem;
            cursor: pointer;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
    .follower-sect {
      margin-left: 100px;
      margin-top: 20px;
      div {
        width: 190px;
        height: 45px;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        .line {
          width: 20px;
          height: 0;
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
        }
        h2 {
          font-size: 0.9rem;
          text-transform: uppercase;
          font-weight: 300;
        }
        h3 {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 400;
          color: #111;
        }
      }
    }
    .about-info {
      padding: 10px 20px;
      border-radius: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      margin-left: 100px;
      margin-top: 20px;
     .top-info {
      align-items: start;
      gap: 5px;
      h2{
        width: 410px;
        height: 40px;
        padding-left: 10px;
        font-size: .9rem;
        font-weight: 300;
        gap: 10px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding-bottom: 10px;
      }
      p{
        max-width: 420px;
        text-align: justify;
        font-weight: 300;
        margin-top: 10px;
        padding-bottom: 10px;
      }
     }
    }
  }
  .profile-right {
    margin-right: 100px;
    justify-content: center;
    height: 100%;
    img {
      width: 450px;
      border-radius: 10px;
    }
  }
}

.art-bottom {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: start !important;
  h1 {
    margin-left: 100px;
    text-transform: capitalize;
    font-weight: 300;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    position: relative;

    span {
      font-weight: 600;
    }
  }
  h1::after {
    content: attr(data-after);
    position: absolute;
    bottom: 30px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -40px;
  }
  .art-main {
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
    justify-content: start;
    gap: 50px;
    .card {
      padding: 20px;
      align-items: start;
      gap: 15px;
      border: 1px solid transparent;
      cursor: pointer;
      img {
        width: 310px;
        height: 300px;
      }
      h2 {
        font-weight: 400;
        font-size: 1.2rem;
        max-width: 320px;
        text-transform: capitalize;
        margin-top: 10px;
      }
      .avatar-wrap {
        padding-bottom: 10px;
        width: 310px;
        gap: 10px;
        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
        }
        p {
          font-weight: 300;
        }
      }
      .line{
        width: 320px;
        height: 1px;
        background: rgba($color: #000000, $alpha: 0.1);
      }
      .price-wrap {
        padding-bottom: 10px;
        width: 310px;
        justify-content: space-between !important;
        .line{
          width: 100px;
        }
        p {
          font-size: 0.9rem;
          font-weight: 600;
          text-transform: uppercase;
          color: rgba($color: #000000, $alpha: 0.5);
        }
        p:last-child {
          color: black;
        }
      }
    }
    .card:hover{
      border: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
  }
}
